<%- include partials/header %>
    <div class = "home">
        <div class ="mx-auto">
            <div class = "text-center">
        <h1>Enter Todo task</h1>
    <form class="form" method = "POST" action = "/home">
    <input type = "text" class="form-control" name = "name" placeholder = "Write todo list">
    <button type = "submit" class="btn btn-light">Add</button>
    </form>
</div>
</div>
    <div class = "list mx-auto text-center">
        <ul>
        <%data.forEach((indTask)=>{%>
            <li><%=indTask.name%>
            <a href = "/home/update/<%=indTask._id%>">Update</a>
            <form method = "POST" action = "/home/delete/<%=indTask._id%>?_method=DELETE">
            <button type = "submit">Delete</button>
            </form>
            </li>
        <%})%>
    </ul>
    </div>

</div>

    <%- include partials/footer %>
