<%- include partials/header %>
    <div class = "home">
        <div class ="mx-auto">
            <div class = "text-center">
        <h1>Enter Todo task</h1>
    <form class="form" method = "POST" action = "/home">
    <input type = "text" class="form-control" name = "name" placeholder = "Write todo list">
    <button type = "submit" class="btn btn-light">Add</button>
    </form>
</div>
</div>
    <div class = "container">
        <div class = "row">
            <div class= "col-sm">
            <table class="table text-center">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Task</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                      </tr>
                    </thead>
                    <tbody>
                            <%data.forEach((indTask)=>{%>
                      <tr scope="row">  
                        <td class = "name"><%=indTask.name%></td>
                        <td><a  class="btn btn-primary" href = "/home/update/<%=indTask._id%>">Update</a></td>
                        <td><form method = "POST" action = "/home/delete/<%=indTask._id%>?_method=DELETE">
                            <button type = "submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                      </tr>
        <%})%>
                    </tbody>
                    </table>
    </div>
</div>
</div>
</div>
    <%- include partials/footer %>
